* {
  box-sizing: border-box;
}

body {
  background-color: rgb(221, 178, 178);
  width: 100%;
  position: fixed;
}

.app {
  background: rgb(169, 129, 129);
  width: 90%;
  margin: 20px;
  border-radius: 40px;
  padding: 10px;
}

.app h1 {
  color: rgb(69, 46, 11);
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  text-align: center;
}

nav {
  display: grid;
  grid-auto-flow: column;
  background-color: rgb(53, 7, 7);
  bottom: 10px;
  position: fixed;
  width: 96%;
}

nav a {
  position: relative;
  color: wheat;
  text-align: center;
}

.question-card {
  position: relative;
  text-align: center;
  border: 3px solid;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.question {
  text-align: center;
}

.logo {
  padding-left: 35%;
  position: absolute;
}
